<% content_for :titulo_pagina do %>Mis Reportes<% end %>
<% content_for :javascript do %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.7.min.js" %>
<script type="text/javascript">jQuery.noConflict();</script>
<%= include_javascripts :mis_reportes %>
<script type="text/javascript">
jQuery(window).load(function() {
	<% @saved_reports.each_with_index do |sr, i| %>
	<% next unless sr.querystring.include?('currency=' + @currency_id.to_s) %>
		hacer_grafico(<%=i%>, '<%=sr.url%>', '<%=sr.querystring%>'.gsub('&amp;', '&'));
	<% end %>
});
</script>
<% end %>
<div style="width: 800px;">
<% @saved_reports.each_with_index do |sr, i| %>
<% next unless sr.querystring.include?('currency=' + @currency_id.to_s) %>
	<div id="id_<%=i%>" style="width: 400px; height: 450px; float: left;">
		<div id="chart_<%=i%>"></div>
	</div>
<% end %>
</div>