<html xmlns="http://www.w3.org/1999/xhtml">
<body style="text-align:center">
<!--Redondeado Superior -->
<div style="width:500px;margin:0 auto;">
	<div style="float:left;background-image:url(https://s3.amazonaws.com/idashboard_assets/images/fondoLinea.gif);background-repeat:repeat-x;background-position:top;">
		<div style="display:block;width:490px;height:10px;background-image:url(https://s3.amazonaws.com/idashboard_assets/images/fondoRedondoSupIzq.gif);background-repeat:no-repeat;float:left;"></div>
		<div style="display:block;width:10px;height:10px;background-image:url(https://s3.amazonaws.com/idashboard_assets/images/fondoRedondoSupDer.gif);background-repeat:no-repeat;float:left;"></div>
	</div>
<!--Contenido-->
	<div style="display:block;width:478px;padding:10px;border-left:1px solid #CCC;border-right:1px solid #CCC;">
		<div style="text-align:right"><a href="http://app.<%=Settings['host']%>" target="_blank"><img src="https://s3.amazonaws.com/idashboard_assets/images/logo_alerta.jpg" alt="iDashBoard" width="100" height="55" border="0"/></a></div>
		<h1 style="display:block;width:100%;margin:0;font-family:Verdana;font-size:26px;font-weight:normal;color:#CCC;line-height:250%;">Alerta Computadoras</h1>
		<div class="tablaAlerta">
<% 
	@events_ordered.keys.sort.each do|k| 
%>
			<table border="0" cellpadding="1" cellspacing="1" style="width: 100%;font-family:Verdana;font-size:10px;color:#666;font-weight:bold;background-color:#CCC;">
 			<caption style="text-align:left;line-height:150%;font-size:12px;border-top:1px solid #CCC;border-right:1px solid #CCC;border-left:1px solid #CCC;"><%=k%></caption>
  
			 <tr style="background-color:#FFF;">
			   <th style="background-color:#FFF;text-transform:uppercase;text-align:left;" scope="col">Fecha</th>
			   <th style="background-color:#FFF;text-transform:uppercase;text-align:left;" scope="col">Producto</th>
			   <th style="background-color:#FFF;text-transform:uppercase;text-align:left;" scope="col">Categoria</th>
			   <th style="background-color:#FFF;text-transform:uppercase;text-align:left;" scope="col">$ Anterior</th>
			   <th style="background-color:#FFF;text-transform:uppercase;text-align:left;" scope="col">$ Actual</th>
			 </tr>
<%
		@events_ordered[k].sort_by{|e| [
			( ( e.item.product.get_property_value('categoria').nil?) ? '' : e.item.product.get_property_value('categoria') ),
			( ( e.item.product.descripcion.nil?) ? '' : e.item.product.descripcion )
		]}.each do |e|
%>
			 <tr style="background-color:#FFF;">
			   <td><%=e.created_at.in_time_zone('America/Argentina/Buenos_Aires').strftime('%Y-%m-%d %H:%M:%S')%></td>
			   <td><a href="http://app.<%=Settings['host']%>/products/pagina_producto/<%=e.item.product.id%>?country_id=<%=@country_id%>"><%=e.item.product.descripcion%></a></td>
			   <td><%=e.item.product.get_property_value('categoria')%></td>
			   <td><%=ActionController::Base.helpers.number_to_currency(e.precio_viejo, {:delimiter => '.', :separator => ',', :unit => '$ ', :precision => 0})%></td>
			   <td><%=ActionController::Base.helpers.number_to_currency(e.precio_nuevo, {:delimiter => '.', :separator => ',', :unit => '$ ', :precision => 0})%></td>
			 </tr>
<%
		end
%>
			</table><br/>
<%
	end
%>
		</div>
	</div>
Este mail pertenece a la alerta:<br/><i><%=@desc_alerta%></i><br/>Para modificar sus alertas haga click <a href="http://app.<%=Settings['host']%>/alerts">aqu&iacute;</a>.
<!--Redondeado Inferior -->
	<div style="width:500px;float:left;">
		<div style="float:left;background-image:url(https://s3.amazonaws.com/idashboard_assets/images/fondoLinea.gif);background-repeat:repeat-x;background-position:bottom;">
		<div style="display:block;width:490px;height:10px;background-image:url(https://s3.amazonaws.com/idashboard_assets/images/fondoRedondoInfIzq.gif);background-repeat:no-repeat;float:left;"></div>
		<div style="display:block;width:10px;height:10px;background-image:url(https://s3.amazonaws.com/idashboard_assets/images/fondoRedondoInfDer.gif);background-repeat:no-repeat;float:left;"></div>
	</div>
</div>
</body>
</html>