<% content_for :titulo_pagina do %>Productizador<% end %>
<% content_for :stylesheet do %>
<%= include_stylesheets :chosen_productizador, :media => 'all' %>
<% end %>
<% content_for :javascript do %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.7.min.js" %>
<script type="text/javascript">jQuery.noConflict();</script>
<%= include_javascripts :chosen, :flip %>
<script type="text/javascript">

var count = 5;
var offset = 0;
var items = {};

var selected_item_id = 0;
var flip = false;

var properties = {};
var properties_sorted = new Array;

var country_id = <%=@country_id%>;
var product_type_id = <%=@product_type_id%>;

function init_properties() {
	jQuery.ajax({
		url: "http://api.<%=@hostname%>/properties/search",
		type: 'POST',
		dataType: 'jsonp',
		data: 'product_type=<%=@product_type_id%>',
		statusCode: {
			200: function(data) {
				jQuery.each(data, function(i, v) {
					var values = {};
					jQuery.each(v.possible_values, function(j, w) {
						values[w.possible_value.id] = w.possible_value.value;
					});
					properties[v.description] = {
						id: v.id,
						values: values
					};
					properties_sorted.push(v.description);
				});
				properties_sorted = properties_sorted.sort();
				<% if defined?@orden_pvs %>
				properties_sorted = new Array;
				<% @orden_pvs.each do |pv| %>
				properties_sorted.push('<%=pv%>');
				<% end %>
				<% end %>
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function get_items_sin_enlazar(offset, count) {
	var query_string = 'product=nil&product_type=<%=@product_type_id%>&currency=<%=@currency_id%>';
	query_string += '&offset=' + offset;
	query_string += '&count=' + count;

	if (jQuery('#retailer').val() != 0) {
		query_string += '&retailer=' + jQuery('#retailer').val();
	}

	jQuery('#tabla_datos').append('<tr class="filas_tabla_loading"><td colspan="4">Cargando...</td></tr>');

	jQuery.ajax({
		url: "http://api.<%=@hostname%>/items/search",
		type: 'POST',
		dataType: 'jsonp',
		data: query_string,
		statusCode: {
			200: function(data) {
				llenar_tabla(data);
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function llenar_tabla(data) {
	jQuery('.filas_tabla_loading').remove();
	jQuery('.filas_tabla_paginador').remove();

	jQuery.each(data, function(i,v) {
		var html = '<tr id="item_' + v.id + '" class="filas_tabla" height="29px;" style="cursor: pointer;" onClick="mostrar_item(' + v.id + ');">';
		html += '<td>' + v.id + '</td>';
		html += '<td>' + v.retailer + '</td>';
		html += '<td>' + v.description + '</td>';
		html += '</tr>';
		jQuery('#tabla_datos').append(html);

		if (v.id == selected_item_id) {
			jQuery('#item_' + v.id).css('background-color', 'lightblue');
		}

		items[v.id] = {
			imagen_id: v.imagen_id,
			description: v.description,
			retailer: v.retailer,
			url: v.url,
			property_values: {}
		};

		if (v.hasOwnProperty('property_values')) {
			jQuery.each(v.property_values, function(j,w) {
				items[v.id].property_values[w.property_id] = w.id;
			});
		}

	});

	if (data.length == 0) {
		jQuery('#tabla_datos').append('<tr class="filas_tabla"><td colspan="4" align="center">No hay más ítems sin asociar.</td></tr>');
	} else {
		jQuery('#tabla_datos').append('<tr class="filas_tabla_paginador"><td colspan="4" align="center"><span style="cursor: pointer;" onClick="return pagina_siguiente();">cargar más items</span></td></tr>');
	}
}

function pagina_siguiente() {
	offset += 5;
	jQuery('.filas_tabla_paginador').remove();
	get_items_sin_enlazar(offset, count);
	return false;
}

function reset_tabla() {
	items = {};
	jQuery('.filas_tabla').remove();
	jQuery('.filas_tabla_paginador').remove();
	offset = 0;
	get_items_sin_enlazar(offset, count);
}

function reset_item() {
	jQuery('#imagen_item').attr('src', '');	
	jQuery('#retailer_item').html('');
	jQuery('#descripcion_item').html('');
	jQuery('#ultimo_precio_registrado').html('');
	jQuery('.fila_pv').remove();
	jQuery('#div_tabla_pvs').css('display', 'none');
	jQuery('#div_tabla_prods').css('display', 'none');
	if (selected_item_id != 0 && flip) {
		revert_flip();
	}
}

function mostrar_item(id) {
	if (selected_item_id != 0 && flip) {
		revert_flip();
		jQuery('.fila_prod').remove();
		jQuery('#tabla_prods').append('<tr class="fila_prod"><td>Buscando...</td></tr>');
	}
	
	selected_item_id = id;

	jQuery('.filas_tabla').css('background-color', '');
	jQuery('#item_' + id).css('background-color', 'lightblue');

	jQuery('#imagen_item').attr('src', '');
	jQuery('#imagen_item').attr('src', '<%=@url_imagen_item%>/' + items[id].imagen_id + '.jpg');
	jQuery('#retailer_item').html('<a target="_blank" href="' + items[id].url + '">' + items[id].retailer + '</a>');
	jQuery('#descripcion_item').html(items[id].description);

	jQuery('#ultimo_precio_registrado').html('');
	jQuery('.fila_pv').remove();

	for (var i = 0; i < properties_sorted.length; i++) {
		var html = '<tr class="fila_pv">';
		var property = properties[properties_sorted[i]].id;
		var value = false;
		if (items[id].property_values.hasOwnProperty(property)) {
			value = items[id].property_values[property];
		}

		html += '<td>' + properties_sorted[i] + '</td>';
		html += '<td>' + hacer_pulldown(id, properties_sorted[i], value) + '</td>';
		html += '</tr>';
		jQuery('#tabla_pvs').append(html);
	}

	jQuery('#div_tabla_pvs').css('display', '');
	jQuery('#div_tabla_prods').css('display', '');

	jQuery(".chzn-select").chosen({no_results_text: 'Sin resultados para', allow_single_deselect: true});
    jQuery('.chzn-single').focus(function(e){
        e.preventDefault();
    });
	jQuery('div.chzn-container ul').attr("tabindex",-1);
	jQuery('#p_' + properties[properties_sorted[0]].id + '_chzn a.chzn-single').focus();

	buscar_productos();
	buscar_ultimo_precio_registrado(id);
}

function hacer_pulldown(item, property, property_value) {
	var pulldown = '<select data-placeholder="elegir... "id="p_' + properties[property].id + '" style="font-size: 10px; width: 150px;" class="chzn-select item_pvalues" onChange="buscar_productos();">';
	pulldown += '<option></option>';
	var options = {};
	jQuery.each(properties[property]['values'], function(i, v) {
		options[v] = i;
	})
	jQuery.each(Object.keys(options).sort(), function(i,v) {
		var selected = '';
		if (property_value && options[v] == property_value) { selected = ' selected'; }
		pulldown += '<option value="' + options[v] + '"' + selected + '>' + v + '</option>';
	})
	pulldown += '</select>';
	return pulldown;
}

function buscar_productos() {
	var pvalues = new Array;
	jQuery('.item_pvalues').each(function(i) {
		if (jQuery(this).val()) {
			pvalues.push(jQuery(this).val());
		}
	});

	jQuery('.fila_prod').remove();
	jQuery('#tabla_prods').append('<tr class="fila_prod"><td>Buscando...</td></tr>');

	var data = 'property_values=' + pvalues.join(',');
	data += '&country=' + country_id + '&fast=yeah';
	data += '&marca=' + jQuery('#p_' + properties['Marca'].id).val();

	jQuery.ajax({
		url: "http://api." + global_hostname + "/products/search_productizador",
		data: data,
		dataType: 'jsonp',
		cache: false,
		statusCode: {
			200: function(data) {
				mostrar_match_productos(data);
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function mostrar_match_productos(data) {
	jQuery('.fila_prod').remove();

	if (data.length > 0) {
		jQuery.each(data, function (i,v) {
			var html = '<tr class="fila_prod">';

			html += '<td><span onClick="flip_producto({id: ' + v.id + ',descripcion: \'' + v.descripcion + '\', imagen_id: ' + v.imagen_id + '});" style="cursor: pointer;">';

			html += v.descripcion;
			if (v.ultimo_precio_registrado) {
				html += (' <b>$' + v.ultimo_precio_registrado + '</b>');
			}

			html += '</span></td></tr>';
			jQuery('#tabla_prods').append(html);
		});
	} else {
		jQuery('#tabla_prods').append('<tr class="fila_prod"><td>No se encontró ninguno.</td></tr>');
	}
	jQuery('#tabla_prods').append('<tr class="fila_prod"><td><span style="cursor: pointer;" onClick="crear_producto();">(crear nuevo producto)</span></td></tr>');
}

function flip_producto(params) {
	var contenido = params.descripcion;
	contenido += '<br/>';
	contenido += '<image height="200" width="200" src="<%=@url_imagen_producto%>/' + params.imagen_id + '_med.jpg"/><br/>';
	contenido += '<span id="urls_producto">Buscando links retailers...</span><br/>';
	contenido += '<span style="cursor: pointer;" onClick="enlazar(' + params.id + ');">enlazar</span><br/>';
	contenido += '<span style="cursor: pointer;" onClick="revert_flip();">volver</span>';

	jQuery('#div_tabla_prods').flip({
		direction: 'rl',
		content: contenido,
		speed: 150,
		color: '#eee'
	});

	flip = true;
	mostrar_urls_producto(params.id);
}

function mostrar_urls_producto(id) {
	jQuery.ajax({
		url: "http://api." + global_hostname + "/products/" + id,
		data: { show_urls: 1, country: country_id },
		dataType: 'jsonp',
		cache: false,
		statusCode: {
			200: function(data) {
				jQuery("#urls_producto").html('No hay retailers.');
				contenido = '';
				jQuery.each(data, function(i, v) {
					contenido += '<a href="' + v.url + '" target="_blank">' + v.retailer + ' $' + v.price + '</a><br/>';
				})
				jQuery("#urls_producto").html(contenido);
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function revert_flip() {
	flip = false;
	jQuery('#div_tabla_prods').revertFlip();
}

function buscar_ultimo_precio_registrado(id) {
	jQuery.ajax({
		url: "http://api." + global_hostname + "/prices/search",
		data: 'item=' + id + '&count=1',
		dataType: 'jsonp',
		cache: false,
		statusCode: {
			200: function(data) {
				if (data.length != 0) {
					jQuery('#ultimo_precio_registrado').html('<b>$ ' + data[0].price + '</b> (' + data[0].price_date.split('-').reverse().join('/') + ')');
				}
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function enlazar(product_id) {
	if (confirm('Enlazar?')) {

		jQuery.ajax({
			url: 'http://api.' + global_hostname + '/items/link_product',
			data: { item: selected_item_id, product: product_id },
			dataType: 'jsonp',
			cache: false,
			statusCode: {
				200: function() {
					revert_flip();
					reset_item();
					jQuery('#item_' + selected_item_id).remove();
					selected_item_id = 0;
				},
				400: function() {
					alert('Error 400!');
				}
			}
		});

	}
}

function crear_producto() {
	var contenido = '<br/>';

	contenido += '<h3>Ingresar valores faltantes:</h3>';
	contenido += '<table width="80%" align="center" border="0">';
	jQuery('.item_pvalues').each(function (i) {
		if (!jQuery(this).val()) {
			if (result = /p_(\d+)/.exec(this.id)) {
				jQuery.each(properties, function(i,v) {
					if (result[1] == v.id) {
						contenido += '<tr>';
						contenido += '<td>' + i + '</td>';
						contenido += '<td><input class="new_pv" type="text" id="new_p_' + v.id + '"/></td>';
						contenido += '</tr>';
						return false;
					}
				})
			}
		}
	});

	contenido += '</table><br/>';
	contenido += '<span style="cursor: pointer;" onClick="revert_flip();">volver</span><br/>';
	contenido += '<span style="cursor: pointer;" onClick="go_crear_producto();">crear producto</span><br/>';

	jQuery('#div_tabla_prods').flip({
		direction: 'tb',
		content: contenido,
		speed: 150,
		color: '#eee'
	});

	flip = true;
}

function go_crear_producto() {
	var pvs = new Array;
	var faltan_campos = 0;
	jQuery('.item_pvalues').each(function (i) {
		if (jQuery(this).val()) {
			pvs.push(jQuery(this).val());
		}
	});
	jQuery('.new_pv').each(function (i) {
		if (jQuery(this).val()) {
			if (result = /new_p_(\d+)/.exec(this.id)) {
				pvs.push(jQuery(this).val() + '|' + result[1]);
			}
		} else {		
			faltan_campos = 1;
		}
	});

	if (faltan_campos) {
		alert('Por favor completar todos los campos.');
		return false; 
	}

	if (confirm('Crear?')) {
		jQuery.ajax({
			url: 'http://api.' + global_hostname + '/products/create_productizador',
			data: { item: selected_item_id, property_values: pvs.join(','), product_type: <%=@product_type_id%> },
			dataType: 'jsonp',
			cache: false,
			statusCode: {
				200: function() {
					revert_flip();
					reset_item();
					jQuery('#item_' + selected_item_id).remove();
					selected_item_id = 0;
				},
				400: function() {
					alert('Error 400!');
				}
			}
		});

	}
}

jQuery(window).load(function() {
	get_items_sin_enlazar(0, count);
	init_properties();
});

</script>
<% end %>
<div style="position: relative; top: 10px; margin: 0px auto; height: 350px; border: 2px dotted blue;">
	<div style="position: relative; top: 50px; height: 200px; width: 200px; float: left;">
		<img height="200" width="200" id="imagen_item"/><br/>
		<span id="ultimo_precio_registrado"></span>
	</div>
	<div style="position: relative; top: 50px; height: 200px; width: 300px; overflow-y: auto; float: left;">
		<span id="retailer_item" style="font-weight: bold;"></span>
		<br/>
		<span id="descripcion_item"></span>
	</div>
	<div style="position: relative; top: 20px; height: 300px; width: 350px; display: none; overflow-y: auto; float: left;" id="div_tabla_pvs">
		<table border="1" align="center" width="80%" id="tabla_pvs">
			<tr>
				<th>Propiedad</th>
				<th>Valor</th>
			</tr>
		</table>
	</div>
	<div style="background-color: #eee; position: relative; top: 50px; height: 300px; width: 350px; display: none; overflow-y: auto; float: left;" id="div_tabla_prods">
		<table border="1" align="center" width="80%" id="tabla_prods">
			<tr>
				<th>Posibles productos</th>
			</tr>
			<tr class="fila_prod">
				<td>(click en 'buscar')</td>
			</tr>
		</table>
	</div>
</div>
<div style="position: relative; top: 15px; margin: 0px auto; height: 250px; border: 2px dotted blue; overflow-y: auto;">
	<br/>
	<table border="1" align="center" width="80%" id="tabla_datos">
	<tr>
		<th width="34px;">ID</th>
		<th width="126px;">
			Retailer
			<select style="font-size: 10px;" id="retailer" onChange="reset_tabla();">
				<option value="0" selected>Todos</option>
			<% Retailer.where(:country_id => @country_id).order('name ASC').each do |r| %>
				<option value="<%=r.id%>"><%=r.name%></option>
			<% end %>
			</select>
		</th>
		<th>Descripción</th>
	</tr>
	</table>
</div>