<% content_for :titulo_pagina do %>Productos<% end %>
<% content_for :javascript do %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
<script type="text/javascript">jQuery.noConflict();</script>
<%= javascript_include_tag "highcharts", "modules/exporting", "chosen.jquery.min", "highcharts_graficar" %>
<%= javascript_include_tag "jquery-ui-1.8.14.custom.min", "jquery-ui-datepicker-es" %>
<script type="text/javascript">

function get_productos() {
	if (jQuery('#marca_pulldown').val() == "") {
		return false;
	}

	var data = {
		fast: true,
		property_values: jQuery('#marca_pulldown').val(),
		country: <%=@country_id%>
	}

	jQuery.ajax({
		url: "/products/search",
		data: data,
		cache: false,
		statusCode: {
			200: function(data) {
				llenar_pulldown_productos(data);
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});

	return false;
}

function llenar_pulldown_productos(data) {
	var select = jQuery('<select name="producto" id="producto_pulldown" class="pulldown_selector chzn-select" data-placeholder="Seleccione un producto..."><option></option></select>');

	var props_ordered = data.sort(function(a, b) {
		return ( a.value < b.value ? -1 : (a.value > b.value ? 1 : 0 ) );
	});
	
	for (var i = 0; i < props_ordered.length; i++) {
		<% unless @product.nil? %>
		if (props_ordered[i].id == <%=@product.id%>) {
			select.append('<option selected value="' + props_ordered[i].id + '">' + props_ordered[i].value + '</option>');
		} else {
		<% end %>
			select.append('<option value="' + props_ordered[i].id + '">' + props_ordered[i].value + '</option>');
		<% unless @product.nil? %>
		}
		<% end %>
		
	}

	jQuery('#span_producto_pulldown').html(select);
	jQuery('#producto_pulldown').chosen({no_results_text: "Sin resultados para"});
	jQuery('#boton_mostrar').removeAttr('disabled');
}

<% unless @product.nil? %>
var prices_last_query_string_sent = {};

function crear_query_string(params) {
	var query_string = 'product=<%=@product.id%>';
	query_string +='&currency=<%=@currency_id%>';

	if (jQuery('#fecha_desde').val()) {
		query_string += '&date_from=' + jQuery('#fecha_desde').val();
	}

	if (!params.hasOwnProperty('for_saving')) {
		if (jQuery('#fecha_hasta').val()) {
			query_string += '&date_to=' + jQuery('#fecha_hasta').val();
		}	
	}
	
	query_string += '&no_limit=1';
	return query_string;
}

function graficar(id) {
	var query_string = crear_query_string({});

	if (
		prices_last_query_string_sent.hasOwnProperty(id) && 
		query_string == prices_last_query_string_sent[id]
	) {
		return dibujar_data(id);
	} else {
		prices_last_query_string_sent[id] = query_string;
	}

	var chart = new Highcharts.Chart({
		chart: {
			renderTo: 'chart_' + id 
		},
		title: { 
			text: null 
		},
		credits: {
			enabled: false
		},
		exporting: {
			enabled: false
		}
	});

	chart.showLoading();

	jQuery.ajax({
		url: "/prices/search",
		data: query_string,
		cache: false,
		statusCode: {
			200: function(data) {
				data_graficos[id] = data;
				get_promos(id);
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function salvar_reporte(params) {
	var qs;

	if (params.hasOwnProperty('id_producto')) {
		qs = crear_query_string({ id_producto: params['id_producto'], for_saving: true });
	} else {
		qs = crear_query_string({ for_saving: true });
	}

	var data = {
		querystring: qs
	};

	jQuery.ajax({
		url: '/saved_reports',
		type: 'POST',
		data: data,
		cache: false,
		statusCode: {
			200: function(data) {
				alert('Reporte salvado.');
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});	
}

var mostrar_minimos_y_maximos = new String;

var available_countries = {};
<% @available_countries.each do |c| %>
available_countries[<%=c%>] = true;
<% end %>

<% @sales.each do |s| %>
	if (!promos.hasOwnProperty(<%=s.id%>)) {
		promos[<%=s.id%>] = {
			id: <%=s.id%>,
			sale_date: '<%=s.sale_date%>',
			price: <%=s.price%>,
			origin: '<%=s.origin%>',
			units_available: <%=s.units_available.nil? ? 0 : s.units_available%>,
			valid_since: '<%=s.valid_since%>',
			valid_until: '<%=s.valid_until%>',
			bundle: <%=s.bundle%>,
			page: <%=s.page.nil? ? 0 : s.page%>,
			imagen_id: <%=s.imagen_id%>,
			media_channel: '<%=s.media_channel.name%>',
			retailer: '<%=s.retailer.name%>',
			currency_id: <%=s.currency.id%>
		};
	}
<% end %>

<% end %>

jQuery(window).load(function() {
	jQuery(".chzn-select").chosen({no_results_text: "Sin resultados para"});
	get_productos();

<% unless @product.nil? %>
	jQuery("#imagen_producto").error(function() {
		if ( /\.png$/.test(jQuery("#imagen_producto").attr('src')) ) {
			jQuery("#imagen_producto").attr(
				'src',
				'http://computadoras.idashboard.com.ar/images/productos/<%=@product.imagen_id%>_med.jpg'
			);
		} else {
			jQuery("#imagen_producto").attr(
				'src',
				'http://computadoras.idashboard.com.ar/images/productos/notfound.jpg'
			);
		}
	});

	jQuery("#imagen_producto").attr(
		'src',
		'http://computadoras.idashboard.com.ar/images/productos/<%=@product.imagen_id%>_med.png'
	);

	jQuery("#fecha_desde").datepicker();
	jQuery("#fecha_hasta").datepicker();

	<% unless @dates[0].nil? || @dates[1].nil? %>

		var fecha_min = '<%=@dates[0].strftime('%Y-%m-%d')%>'.split('-');
		var fecha_max = '<%=@dates[1].strftime('%Y-%m-%d')%>'.split('-');

		jQuery("#fecha_desde").datepicker('option', 'minDate', new Date(fecha_min[0], fecha_min[1]-1, fecha_min[2]));
		jQuery("#fecha_desde").datepicker('option', 'maxDate', new Date(fecha_max[0], fecha_max[1]-1, fecha_max[2]));
		jQuery("#fecha_desde").datepicker('setDate', new Date(fecha_min[0], fecha_min[1]-1, fecha_min[2]));

		jQuery("#fecha_hasta").datepicker('option', 'minDate', new Date(fecha_min[0], fecha_min[1]-1, fecha_min[2]));
		jQuery("#fecha_hasta").datepicker('option', 'maxDate', new Date(fecha_max[0], fecha_max[1]-1, fecha_max[2]));
		jQuery("#fecha_hasta").datepicker('setDate', new Date(fecha_max[0], fecha_max[1]-1, fecha_max[2]));

		graficar(0);

	<% end %>

	jQuery('#country_pulldown').chosen().change(function() {
		if (available_countries.hasOwnProperty(jQuery('#country_pulldown').val()[0])) {
			jQuery('#country_form').submit();
		} else {
			alert('Este producto no existe para ese país.');
			jQuery('#country_pulldown').val(<%=@country_id%>);
			jQuery("#country_pulldown").trigger("liszt:updated");
			return false;
		}
	});
<% else %>
	jQuery('#country_pulldown').chosen().change(function() {
		jQuery('#country_form').submit();
	});
<% end %>

});
</script>
<% end %>

<style type="text/css">

.pulldown_selector {
	font-size: 12px;
	width: 400px;
}

</style>

<h2>Seleccionar producto</h2>

<select name="marca" id="marca_pulldown" class="pulldown_selector chzn-select" data-placeholder="Seleccione una marca..." onChange="return get_productos();">
<option></option>
<% @marcas.each do |m| %>
<% if !@product.nil? && @product.marca == m.value %>
<option selected value="<%=m.id%>"><%=m.value%></option>
<% else %>
<option value="<%=m.id%>"><%=m.value%></option>
<% end %>
<% end %>
</select>
<br/>
<span id="span_producto_pulldown">
</span>
<br/>
<input type="button" id="boton_mostrar" value="Mostrar detalles" disabled onClick="window.location = '/products/pagina_producto/' + jQuery('#producto_pulldown').val()"/>

<% unless @product.nil? %>

<br/><br/><br/>

<em style="font-family:Verdana;font-size:12px;font-style:normal;font-weight:bold;color:#000000;">
<%= @product.descripcion %>
</em><br/><br/>

<div class="detalleDescripcion">
<center>
<% if @product.imagen_id.nil? %>
<img src="/images/productos/notfound.jpg">
<% else %>
<img class="imagen_producto" id="imagen_producto"/>
<% end %>
</center>
</div>

<!--Lista de especificaciones del producto -->
<div class="detalleEspecificacion">
	<h4>Propiedades</h4>
<% @properties.each do |prop| %>
	<dl>
		<dt><%=prop[:name]%></dt>
		<dd><%=prop[:value]%></dd>
	</dl>
<% end %>
	<br/>
	<br/>
	<dl>
		<dt>M&aacute;ximo</dt>
		<dd id="max_precio"></dd>
	</dl>
	<dl>
		<dt>M&iacute;nimo</dt>
		<dd id="min_precio"></dd>
	</dl>
	<dl>
		<dt>Diferencia</dt>
		<dd id="dif_precio"></dd>
	</dl>
	<dl>
		<dt>Promedio</dt>
		<dd id="avg_precio"></dd>
	</dl>
</div>

<!--Graficos del producto-->
<div class="graficosProducto">
	<!--Historial de precio-->
	<% unless @dates[0].nil? || @dates[1].nil? %>
	<div class="historialPrecio">
		<div id='chart_0' style="height: 500px; width: 600px;"></div>
		<br/>
		
		<div style="position: relative; left: 200px;">
		<div class="date_div" style="display: inline; float: left;">
		Desde:
		<input class="date_input" type="text" readonly name="fecha_desde" id="fecha_desde" size="8" value="<%=@dates[0].strftime('%d/%m/%Y')%>"/> 
		</div>
		
		<div class="date_div">
		Hasta:
		<input class="date_input" type="text" readonly name="fecha_hasta" id="fecha_hasta" size="8" value="<%=@dates[1].strftime('%d/%m/%Y')%>"/> 
		</div>
		
		<input type="button" onClick="graficar(0);" value="Ver" style="position: relative; left: 80px;"/>
		</div>
	</div>
	<% else %>
	<br/><br/>
	<center>
	<h3>No hay datos de precios para este producto.</h3>
	</center>
	<% end %>
</div>

<% if @sales.length > 0 %>
<!-- PROMOS -->
<div class="ultimasPublicaciones">

	<h4>&Uacute;ltimas publicaciones</h4>
		<div class="techo">
			<div class="esteticaSup">
				<div class="esteticaSupIzq"></div>
				<div class="esteticaSupDer"></div>
			</div>
		</div>
	<div class="cuerpoPublicaciones" id="cuerpoPublicaciones">
	<% @sales.each do |s| %>
	<% if @country_id.to_i == 1 %>
	<img class="imagen_promo" src="http://computadoras.idashboard.com.ar/uploaded_images/promocion-<%=s.imagen_id%>_thumb.png" onClick="mostrar_promos({promo: <%=s.id%>});">
	<% else %>
	<img class="imagen_promo" src="http://chile.computadoras.idashboard.com.ar/uploaded_images/promocion-<%=s.imagen_id%>_thumb.png" onClick="mostrar_promos({promo: <%=s.id%>});">
	<% end %>
	<% end %>
	<br/><br/><br/><br/><br/><br/><br/>
	<a href="/dashboard/publicaciones?id_producto=<%=@product.id%>">ver m&aacute;s...</a>
	
	</div>
	
	<div class="pie">
		<div class="esteticaInf">
			<div class="esteticaInfIzq"></div>
			<div class="esteticaInfDer"></div>
		</div>
	</div>
	
</div>
<!-- FIN PROMOS -->
<% end %>

<% end %>