<% content_for :titulo_pagina do %>Precios<% end %>
<% content_for :javascript do %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.7.min.js" %>
<script type="text/javascript">jQuery.noConflict();</script>
<%= javascript_include_tag "highcharts", "modules/exporting", "chosen.jquery.min", "tooltipsy.min", "highcharts_graficar", "selectores_encadenados" %>

<script type="text/javascript">
function agregar_tooltips() {
	jQuery('div[id^="tooltipsy"]').remove()
	jQuery('li.search-choice > span').each(function(i) {
		jQuery(this).tooltipsy({
			content: jQuery(this).parent().parent().parent().siblings().first().attr('title'),
			alignTo: 'cursor',
			offset: [10, 10]
		});
	});
}

var spinner = '<%= image_tag "ajax-bar-loader.gif", :size => "238x30" %>';
var country_id = <%=@country_id%>;
var pulldowns_ok = [
	{ 
		name: "Categoria",
		campo: "categoria"
	},
	{
		name: "Retailer",
		campo: "retailer" 	
	}
];
<% for p in @properties %>
pulldowns_ok.push({ name: '<%=p[:name]%>', campo: '<%=p[:field]%>', id: <%=p[:id]%> });
<% end %>

var prices_last_query_string_sent = {};

function crear_query_string(params) {
	var query_string = 'product=';

	if (params.hasOwnProperty('id_producto')) {
		query_string += params['id_producto'];
	} else {
		query_string += jQuery('#producto_pulldown').val().join(',');	
	}

	query_string +='&currency=<%=@currency_id%>';

	if (jQuery('#fecha_desde').val()) {
		query_string += '&date_from=' + jQuery('#fecha_desde').val();
	}

	if (!params.hasOwnProperty('for_saving')) {
		if (jQuery('#fecha_hasta').val()) {
			query_string += '&date_to=' + jQuery('#fecha_hasta').val();
		}	
	}
	
	query_string += '&no_limit=1';

	return query_string;
}

function graficar(id) {
	var query_string = crear_query_string({});

	if (
		prices_last_query_string_sent.hasOwnProperty(id) && 
		query_string == prices_last_query_string_sent[id]
	) {
		return dibujar_data(id);
	} else {
		prices_last_query_string_sent[id] = query_string;
	}

	var chart = new Highcharts.Chart({
		chart: {
			renderTo: 'chart_' + id 
		},
		title: { 
			text: null 
		},
		credits: {
			enabled: false
		},
		exporting: {
			enabled: false
		}
	});

	chart.showLoading();

	jQuery.ajax({
		url: "http://api.<%=@hostname%>/prices/search",
		data: query_string,
		dataType: 'jsonp',
		cache: false,
		statusCode: {
			200: function(data) {
				data_graficos[id] = data;
				get_promos(id);
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function salvar_reporte(params) {
	var qs;

	if (params.hasOwnProperty('id_producto')) {
		qs = crear_query_string({ id_producto: params['id_producto'], for_saving: true });
	} else {
		qs = crear_query_string({ for_saving: true });
	}

	var data = {
		querystring: qs
	};

	jQuery.ajax({
		url: '/saved_reports',
		type: 'POST',
		data: data,
		cache: false,
		statusCode: {
			200: function(data) {
				alert('Reporte salvado.');
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});	
}

function set_max_min_date() {
	jQuery('#boton_ver').attr('disabled', true);
	jQuery('#boton_ver_excel').attr('disabled', true);

	var objs = jQuery('#producto_pulldown').val();

	if (!objs) {
		jQuery("#fecha_desde").datepicker('option', 'minDate', null);
		jQuery("#fecha_desde").datepicker('setDate', '-1m');
		jQuery("#fecha_hasta").datepicker('option', 'maxDate', null);
		jQuery("#fecha_hasta").datepicker('setDate', '+0');
		return;
	}

	jQuery.ajax({
		url: 'http://api.<%=@hostname%>/products/get_dates?product=' + objs.join(','),
		dataType: 'jsonp',
		statusCode: {
			200: function(data) {
				var fecha_min = data.date_from.split('-');
				var fecha_max = data.date_to.split('-');

				jQuery("#fecha_desde").datepicker('option', 'minDate', new Date(fecha_min[0], fecha_min[1]-1, fecha_min[2]));
				jQuery("#fecha_desde").datepicker('option', 'maxDate', new Date(fecha_max[0], fecha_max[1]-1, fecha_max[2]));
				jQuery("#fecha_desde").datepicker('setDate', new Date(fecha_min[0], fecha_min[1]-1, fecha_min[2]));
				
				jQuery("#fecha_hasta").datepicker('option', 'minDate', new Date(fecha_min[0], fecha_min[1]-1, fecha_min[2]));
				jQuery("#fecha_hasta").datepicker('option', 'maxDate', new Date(fecha_max[0], fecha_max[1]-1, fecha_max[2]));	
				jQuery("#fecha_hasta").datepicker('setDate', new Date(fecha_max[0], fecha_max[1]-1, fecha_max[2]));

				jQuery('#boton_ver').attr('disabled', false);
				jQuery('#boton_ver_excel').attr('disabled', false);
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

jQuery(window).load(function() {
	jQuery(".chzn-select").chosen();
	dibujar_pulldown_productos('start_up');
	jQuery("#fecha_desde").datepicker();
	jQuery("#fecha_hasta").datepicker();
});

</script>
<%= javascript_include_tag "jquery-ui-1.8.14.custom.min", "jquery-ui-datepicker-es" %>
<% end %>

<style type="text/css">

.pulldown_selector {
	font-size: 12px;
	width: 240px;
}

span.error {
	position: relative;
	top: 180px;
	left: 100px;
	font-size: 16px;
	font-weight: bold;
}

</style>

<div style="height: 600px; width: 250px;">

<form name="buscar_producto" id="buscar_producto">
<input type="hidden" name="class" value="pulldown_selector chzn-select"/>
<input type="hidden" name="data-placeholder" value="Producto"/>
<input type="hidden" name="title" value="Producto"/>

<span class="pulldown_span" id="span_categoria_pulldown"><%= image_tag "ajax-bar-loader.gif", :size => "238x30" %></span><span class="pulldown_span" id="span_retailer_pulldown"><%= image_tag "ajax-bar-loader.gif", :size => "238x30" %></span>

<% for p in @properties %>
<span class="pulldown_span" id="span_<%= p[:field] %>_pulldown"><%= image_tag "ajax-bar-loader.gif", :size => "238x30" %></span>
<% end %>

</form>

<form name="parametros_grafico" id="parametros_grafico" method="post" action="/dashboard/hc_grafico_producto" target="_new">
<input type="hidden" name="t" id="t">
<input type="hidden" name="excel" id="excel">
<input type="hidden" name="retailer" id="retailer">

<span class="pulldown_span" id="span_producto_pulldown"><%= image_tag "ajax-bar-loader.gif", :size => "238x30" %></select>
</span>
<br/>
<br/>
<%= render "shared/periodo_pulldown" %>
<br/>
<div class="date_div" style="display: inline; float: left">
Desde:
<input class="date_input" type="text" name="fecha_desde" id="fecha_desde" size="8" value="<%= (Date.current - 1.month).strftime("%d/%m/%Y") %>"/>
</div>

<div class="date_div">
Hasta:
<input class="date_input" type="text" name="fecha_hasta" id="fecha_hasta" size="8" value="<%= (Date.current).strftime("%d/%m/%Y") %>"/>
</div>

<input type="button" onClick="graficar(0);" id="boton_ver" value="Ver"/>
<input type="button" onClick="graficar('excel');" id="boton_ver_excel" value="Ver Excel"/>
</form>

</div>

<div style="position: relative; top: -600px; left: 250px; width: 550px; height: 500px;" id="chart">
<div id="chart_0" style="height: 500px; width: 550px;"></div>
<div style="display: none; width: 550px;" id="history_buttons">
<p style="text-align: center;">
<input type="button" id="history_back" disabled value="&lt;--" onClick="showhistorychart(-1);">&nbsp;
<input type="button" id="history_forward" disabled value="--&gt;" onClick="showhistorychart(1);">&nbsp;
</p>
</div>
</div>

<script type="text/javascript">

</script>