<% content_for :titulo_pagina do %>Retailers<% end %>
<% content_for :javascript do %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.7.min.js" %>
<script type="text/javascript">jQuery.noConflict();</script>
<%= include_javascripts :graficos_sin_selectores_encadenados %>
<script type="text/javascript">
function agregar_tooltips() {
	jQuery('div[id^="tooltipsy"]').remove()
	jQuery('li.search-choice > span').each(function(i) {
		jQuery(this).tooltipsy({
			content: jQuery(this).parent().parent().parent().siblings().first().attr('title'),
			alignTo: 'cursor',
			offset: [10, 10]
		});
	});
}

function crear_query_string() {
	var query_string = 'currency=<%=@currency_id%>';

	if (jQuery('#retailer_pulldown').val()) {
		query_string += '&retailer=' + jQuery('#retailer_pulldown').val();
	}

	if (jQuery('#categoria_pulldown').val()) {
		query_string += '&property_values=' + jQuery('#categoria_pulldown').val();
	}

	if (jQuery('#fecha_desde').val()) {
		query_string += '&date_from=' + jQuery('#fecha_desde').val();
	}

	if (jQuery('#fecha_hasta').val()) {
		query_string += '&date_to=' + jQuery('#fecha_hasta').val();
	}

	return query_string;
}

function crear_url(grafico, propiedad) {
	var query_string = new String;
	var controller = 'sales';

	if (grafico == 'pricebands') {
		if (propiedad == 'productos') {
			controller = 'products';
		}
		query_string += 'pricebands=_';
		type = 'bar';
	}

	if (grafico == 'pie_chart') {
		query_string += 'pie_chart=' + propiedad;
	}

	return [
		"http://api.<%=@hostname%>/" + controller + "/search",
		query_string + '&' + crear_query_string()
	];
}

function salvar_reporte(num) {
	var g = graficos_url[num].split('?');
	jQuery.ajax({
		url: '/saved_reports',
		type: 'POST',
		data: { url: g[0], querystring: g[1].replace(/&date_to=[^&]+/, '') },
		cache: false,
		statusCode: {
			200: function(data) {
				alert('Reporte salvado.');
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});	
}

var graficos = [
	[ 'pricebands', 'publicaciones' ],
	[ 'pricebands', 'publicaciones' ],
	[ 'pie_chart', 'marca' ],
	[ 'pie_chart', 'medio' ],
	[ 'pie_chart', 'os' ],
	[ 'pie_chart', 'memoria' ],
	[ 'pie_chart', 'pantalla' ],
	[ 'pie_chart', 'disco' ],
	[ 'pie_chart', 'modelo' ],
	[ 'pie_chart', 'modelo_procesador' ]
];

function graficar() {
	for (var i = 0; i < graficos.length; i++) {
		var g = crear_url(graficos[i][0], graficos[i][1]);
		graficos_url[i] = g[0] + '?' + g[1];
		hacer_grafico(i, g[0], g[1]);
	}
}

jQuery(window).load(function() {
	jQuery(".chzn-select").chosen();
	jQuery('.pulldown_selector').bind('change', agregar_tooltips);
	jQuery(function() {
		var dates = jQuery( "#fecha_desde, #fecha_hasta" ).datepicker({
			changeMonth: true,
			onSelect: function( selectedDate ) {
				var option = this.id == "fecha_desde" ? "minDate" : "maxDate",
					instance = jQuery( this ).data( "datepicker" ),
					date = jQuery.datepicker.parseDate(
						instance.settings.dateFormat ||
						jQuery.datepicker._defaults.dateFormat,
						selectedDate, instance.settings );
				dates.not( this ).datepicker( "option", option, date );
			}
		});
	});
	jQuery("#fecha_desde").datepicker( "setDate", '<%=(Date.today - 1.month).strftime('%d/%m/%Y')%>' );
	jQuery("#fecha_hasta").datepicker( "setDate", '<%=Date.today.strftime('%d/%m/%Y')%>' );

	jQuery("#fecha_desde").datepicker( "option", "maxDate", '<%=Date.today.strftime('%d/%m/%Y')%>' );
	jQuery("#fecha_hasta").datepicker( "option", "minDate", '<%=(Date.today - 1.month).strftime('%d/%m/%Y')%>' );
});
</script>
<%= include_javascripts :jquery_ui %>
<% end %>
<style type="text/css">

.pulldown_selector {
	font-size: 12px;
	width: 175px;
}

</style>

<div class="filtros" style="position: absolute;">

<div class="selector" style="position: absolute; left: 0px;">
<span class="pulldown_span" id="span_marca_pulldown">
<select name="retailer" id="retailer_pulldown" class="pulldown_selector chzn-select" size="4" title="Retailer" data-placeholder="Todos los retailers">
<option></option>
<% Retailer.where(:country_id => @country_id).order(:name).each do |r| %>
<option value="<%=r.id%>"><%=r.name%></option>
<% end %>
</select>
</span>
</div>

<div class="selector" style="position: absolute; left: 200px;">
<span class="pulldown_span" id="span_categoria_pulldown">
<select name="categoria" id="categoria_pulldown" class="pulldown_selector chzn-select" size="4" title="Categoría" data-placeholder="Todas las categorías">
<option></option>
<% PropertyValue.select('property_values.id, property_values.value').joins(:products => :retailers).where(:property_id => 1, :products => { :retailers => { :country_id => @country_id } } ).order(:value).group('property_values.id, property_values.value').each do |pv| %>
<option value="<%=pv.id%>"><%=pv.value%></option>
<% end %>
</select>
</span>
</div>

<div class="date_div" style="position: absolute; left: 400px;">
Desde:
<input type="text" readonly id="fecha_desde" name="fecha_desde" size="6" class="date_input"/>
</div>

<div class="date_div" style="position: absolute; left: 510px;">
Hasta:
<input type="text" readonly id="fecha_hasta" name="fecha_hasta" size="6" class="date_input"/> 
</div>

<input type="button" id="boton_go" class="detalles" value="Ver" onClick="graficar();" style="position: absolute; left: 630px; top: 4px;"/>

</div>

<br/><br/><br/><br/>

<%= render "grilla_graficos" %>