<% content_for :titulo_pagina do %>Vendors<% end %>
<% content_for :javascript do %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.7.min.js" %>
<script type="text/javascript">jQuery.noConflict();</script>
<%= javascript_include_tag "highcharts", "modules/exporting", "chosen.jquery.min", "tooltipsy.min", "highcharts_graficar" %>
<script type="text/javascript">
function agregar_tooltips() {
	jQuery('div[id^="tooltipsy"]').remove()
	jQuery('li.search-choice > span').each(function(i) {
		jQuery(this).tooltipsy({
			content: jQuery(this).parent().parent().parent().siblings().first().attr('title'),
			alignTo: 'cursor',
			offset: [10, 10]
		});
	});
}

function crear_query_string() {
	var query_string = 'currency=<%=@currency_id%>';

	var pvs = new Array;
	pvs.push(jQuery('#marca_pulldown').val());
	pvs.push(jQuery('#categoria_pulldown').val());

	if (pvs.join(',') != ',') {
		query_string += '&property_values=' + pvs.join(',');
	}

	if (jQuery('#fecha_desde').val()) {
		query_string += '&date_from=' + jQuery('#fecha_desde').val();
	}

	if (jQuery('#fecha_hasta').val()) {
		query_string += '&date_to=' + jQuery('#fecha_hasta').val();
	}

	return query_string;
}

function init_chart(params) {
	var options = {
		chart: {
			renderTo: 'grafico' + (params['grafico'] + 1),
			type: ( params.hasOwnProperty('type') ? params['type'] : 'bar' )
		},
		title: { 
			text: ( params.hasOwnProperty('title') ? params['title'] : null )
		},
		subtitle: {
			text: ( params.hasOwnProperty('subtitle') ? params['subtitle'] : null )
		},
		credits: {
			enabled: false
		},
		plotOptions: {
			series: {
				animation: false
			}
		},
		exporting: {
			buttons: {
				exportButton: {
					menuItems: [ {}, {}, {}, {} ]
				}
			}
		}
	};

	if (params.hasOwnProperty('type') && params['type'] == 'bar') {
		options.legend = { enabled: false };
		options.xAxis = { reversed: false };
		options.yAxis = { title: { text: false } };
		options.chart.inverted = true;
		options.tooltip = {
			formatter: function() {
				return '<b>' + this.x +'</b><br/>'+ Highcharts.numberFormat((this.series.name * (this.y/100) ), 0, ',', '.') + ' (' + Highcharts.numberFormat(this.y, 2, ',', '.') + '%)';
			}
		};
	}

	if (params.hasOwnProperty('type') && params['type'] == 'pie') {
		options.tooltip = {
			formatter: function() {
				return '<b>' + this.point.name +'</b><br/>'+ this.y +' (' + Highcharts.numberFormat(this.percentage, 2, ',', '.') + '%)';
			}
		};
	}

	graficos_obj[params['grafico']] = new Highcharts.Chart(options);
}

var graficos = [
	[ 'pricebands', 'publicaciones' ],
	[ 'pricebands', 'publicaciones' ],
	[ 'pie_chart', 'retailer' ],
	[ 'pie_chart', 'medio' ],
	[ 'pie_chart', 'os' ],
	[ 'pie_chart', 'memoria' ],
	[ 'pie_chart', 'pantalla' ],
	[ 'pie_chart', 'disco' ],
	[ 'pie_chart', 'modelo' ],
	[ 'pie_chart', 'modelo_procesador' ]
];

var graficos_obj = new Array(graficos.length);

function graficar() {
	for (var i = 0; i < graficos.length; i++) {
		var grafico = graficos[i][0];
		var propiedad = graficos[i][1]

		var controller = 'sales';
		var query_string = '';
		var type = 'pie';
		var title = 'Publicaciones por ' + propiedad;
		if (grafico == 'pricebands') {
			if (propiedad == 'productos') {
				controller = 'products';
			}
			query_string += 'pricebands=_';
			type = 'bar';
			title = propiedad + ' por priceband';
		}
		if (grafico == 'pie_chart') {
			query_string += 'pie_chart=' + propiedad;
		}

		init_chart({
			grafico: i,
			type: type,
			title: propiedad + ' por priceband'
		});
		graficos_obj[i].showLoading();

		jQuery.ajax({
			url: 'http://api.<%=@hostname%>/' + controller + '/search',
			data: query_string + '&' + crear_query_string(),
			dataType: 'jsonp',
			context: { grafico: i, propiedad: propiedad },
			statusCode: {
				200: function(data) {
					if (data.hasOwnProperty('pie_chart')) {
						hacer_pie_chart(this, data);
					}

					if (data.hasOwnProperty('pricebands')) {
						hacer_pricebands(this, data);
					}
				},
				400: function() {
					alert('Error 400!');
				}
			}
		});
	}
}

function hacer_pie_chart(obj, data) {
	var tmp = { data: new Array };
	jQuery.each(data['pie_chart'], function(i, v) {
		tmp['data'].push([i,v]);
	});
	graficos_obj[obj.grafico].addSeries(tmp);
	graficos_obj[obj.grafico].hideLoading();
}

function hacer_pricebands(obj, data) {
	var cats = new Array;
	var total = 0;
	for (var j = 0; j < data['result_pricebands'].length; j++) {
		total += data['result_pricebands'][j];
	}
	var tmp = { data: new Array, name: total };

	jQuery.each(data['pricebands'], function(i, v) {
		var name = new String;
		if (v[0] == null || v[1] == null) {
			if (v[0] == null) {
				name = 'menos de ' + v[1];
			} else {
				name = 'mas de ' + v[0];
			}
		} else {
			name = v[0] + ' - ' + v[1];
		}
		cats.push(name);
		tmp['data'].push(data['result_pricebands'][i] * 100 / total);
	});
	var titulo = graficos_obj[obj.grafico].options.title.text + ' (' + total + ')';
	graficos_obj[obj.grafico].setTitle({ text: titulo });
	graficos_obj[obj.grafico].addSeries(tmp);
	graficos_obj[obj.grafico].xAxis[0].setCategories(cats);
	graficos_obj[obj.grafico].hideLoading();	
}

jQuery(window).load(function() {
	jQuery(".chzn-select").chosen();
	jQuery('.pulldown_selector').bind('change', agregar_tooltips);
	jQuery(function() {
		var dates = jQuery( "#fecha_desde, #fecha_hasta" ).datepicker({
			changeMonth: true,
			onSelect: function( selectedDate ) {
				var option = this.id == "fecha_desde" ? "minDate" : "maxDate",
					instance = jQuery( this ).data( "datepicker" ),
					date = jQuery.datepicker.parseDate(
						instance.settings.dateFormat ||
						jQuery.datepicker._defaults.dateFormat,
						selectedDate, instance.settings );
				dates.not( this ).datepicker( "option", option, date );
			}
		});
	});
	jQuery("#fecha_desde").datepicker( "setDate", '<%=(Date.today - 1.month).strftime('%d/%m/%Y')%>' );
	jQuery("#fecha_hasta").datepicker( "setDate", '<%=Date.today.strftime('%d/%m/%Y')%>' );

	jQuery("#fecha_desde").datepicker( "option", "maxDate", '<%=Date.today.strftime('%d/%m/%Y')%>' );
	jQuery("#fecha_hasta").datepicker( "option", "minDate", '<%=(Date.today - 1.month).strftime('%d/%m/%Y')%>' );
});
</script>
<%= javascript_include_tag "jquery-ui-1.8.14.custom.min", "jquery-ui-datepicker-es" %>
<% end %>
<style type="text/css">

.pulldown_selector {
	font-size: 12px;
	width: 175px;
}

</style>

<div class="filtros" style="position: absolute;">

<div class="selector" style="position: absolute; left: 0px;">
<span class="pulldown_span" id="span_marca_pulldown">
<select name="marca" id="marca_pulldown" class="pulldown_selector chzn-select" size="4" title="Marca" data-placeholder="Todas las marcas">
<option></option>
<% PropertyValue.select('property_values.id, property_values.value').joins(:products => :retailers).where(:property_id => 4, :products => { :retailers => { :country_id => @country_id } } ).order(:value).group('property_values.id, property_values.value').each do |pv| %>
<option value="<%=pv.id%>"><%=pv.value%></option>
<% end %>
</select>
</span>
</div>

<div class="selector" style="position: absolute; left: 200px;">
<span class="pulldown_span" id="span_categoria_pulldown">
<select name="categoria" id="categoria_pulldown" class="pulldown_selector chzn-select" size="4" title="Categoría" data-placeholder="Todas las categorías">
<option></option>
<% PropertyValue.select('property_values.id, property_values.value').joins(:products => :retailers).where(:property_id => 1, :products => { :retailers => { :country_id => @country_id } } ).order(:value).group('property_values.id, property_values.value').each do |pv| %>
<option value="<%=pv.id%>"><%=pv.value%></option>
<% end %>
</select>
</span>
</div>

<div class="date_div" style="position: absolute; left: 400px;">
Desde:
<input type="text" readonly id="fecha_desde" name="fecha_desde" size="6" class="date_input"/>
</div>

<div class="date_div" style="position: absolute; left: 510px;">
Hasta:
<input type="text" readonly id="fecha_hasta" name="fecha_hasta" size="6" class="date_input"/> 
</div>

<input type="button" id="boton_go" class="detalles" value="Ver" onClick="graficar();" style="position: absolute; left: 630px; top: 4px;"/>

</div>

<br/><br/><br/><br/>

<%= render "grilla_graficos" %>