<% content_for :titulo_pagina do %>Cargador de Promociones<% end %>
<% content_for :stylesheet do %>
<%= include_stylesheets :chosen_productizador, :grid_cargapromos, :media => 'all' %>
<% end %>
<% content_for :javascript do %>
<%= include_javascripts :jquery %>
<script type="text/javascript">jQuery.noConflict();</script>
<%= include_javascripts :chosen, :flip, :s3upload, :jquery_ui %>
<script type="text/javascript">

var count = 5;
var offset = 0;
var items = {};

var selected_item_id = 0;
var flip = false;

var properties = {};
var properties_sorted = new Array;

var country_id = <%=@country_id%>;
var product_type_id = <%=@product_type_id%>;
var currency_id = <%=@currency_id%>;

function init_properties() {
	jQuery.ajax({
		url: "http://api.<%=@hostname%>/properties/search",
		type: 'POST',
		dataType: 'jsonp',
		data: 'product_type=<%=@product_type_id%>',
		statusCode: {
			200: function(data) {
				jQuery.each(data, function(i, v) {
					var values = {};
					jQuery.each(v.possible_values, function(j, w) {
						values[w.id] = w.value;
					});
					properties[v.description] = {
						id: v.id,
						values: values
					};
					properties_sorted.push(v.description);
				});
				properties_sorted = properties_sorted.sort();
				<% if defined?@orden_pvs %>
				properties_sorted = new Array;
				<% @orden_pvs.each do |pv| %>
				properties_sorted.push('<%=pv%>');
				<% end %>
				<% end %>
				<% if defined?@sale %>
					buscar_productos();
				<% end %>
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function hacer_pulldown(item, property, property_value) {
	var pulldown = '<select data-placeholder="elegir... "id="p_' + properties[property].id + '" style="font-size: 10px; width: 150px;" class="chzn-select item_pvalues" onChange="buscar_productos();">';
	pulldown += '<option></option>';
	var options = {};
	jQuery.each(properties[property]['values'], function(i, v) {
		options[v] = i;
	})
	jQuery.each(Object.keys(options).sort(), function(i,v) {
		var selected = '';
		if (property_value && options[v] == property_value) { selected = ' selected'; }
		pulldown += '<option value="' + options[v] + '"' + selected + '>' + v + '</option>';
	})
	pulldown += '</select>';
	return pulldown;
}

var initial_mostrar_product = 0;
function buscar_productos() {
	var pvalues = new Array;
	jQuery('.item_pvalues').each(function(i) {
		if (jQuery(this).val()) {
			pvalues.push(jQuery(this).val());
		}
	});

	jQuery('.fila_prod').remove();
	jQuery('#tabla_prods').append('<tr class="fila_prod"><td>Buscando...</td></tr>');

	var data = {
		property_values: pvalues.join(','),
		country: country_id,
		fast: 'yeah',
		marca: jQuery('#p_' + properties['Marca'].id).val(),
		modelo: jQuery('#p_' + properties['Modelo'].id).val()
	};

	jQuery.ajax({
		url: "http://api." + global_hostname + "/products/search_productizador",
		data: data,
		dataType: 'jsonp',
		cache: false,
		statusCode: {
			200: function(data) {
				mostrar_match_productos(data);
				<% if defined?@sale %>
				if (initial_mostrar_product == 0) {
					flip_producto({
						id: <%= @sale.product_id %>,
						descripcion: '<%= @sale.product.descripcion %>',
						<% if @sale.product.aws_filename %>
						aws_filename: '<%=@sale.product.aws_filename%>'
						<% elsif @sale.product.imagen_id %>
						imagen_id: <%= @sale.product.imagen_id %>
						<% end %>
					});
					initial_mostrar_product = 1;
				}
				<% end %>
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function mostrar_match_productos(data) {
	jQuery('.fila_prod').remove();

	if (data.length > 0) {
		jQuery.each(data, function (i,v) {
			var html = '<tr class="fila_prod">';

			html += '<td><span onClick="flip_producto({id: ' + v.id + ',descripcion: \'' + v.descripcion.replace(/"/g, '\\"') + '\', imagen_id: ' + v.imagen_id + '});" style="cursor: pointer;">';

			html += v.descripcion;
			if (v.ultimo_precio_registrado) {
				html += (' <b>$' + v.ultimo_precio_registrado + '</b>');
			}

			html += '</span></td></tr>';
			jQuery('#tabla_prods').append(html);
		});
	} else {
		jQuery('#tabla_prods').append('<tr class="fila_prod"><td>No se encontró ninguno.</td></tr>');
	}
	jQuery('#tabla_prods').append('<tr class="fila_prod"><td><span class="button" onClick="crear_producto();">crear nuevo producto</span></td></tr>');
}

function flip_producto(params) {
	var contenido = params.descripcion;

	var url_imagen = '';
	if (params.imagen_id) {
		url_imagen = '<%=@url_imagen_producto%>/' + params.imagen_id + '_med.png';
	}

	if (params.aws_filename) {
		url_imagen = 'https://s3.amazonaws.com/<%=@bucket%>/' + params.aws_filename;
	}

	contenido += '<br/>';
	contenido += '<image height="200" width="200" src="' + url_imagen + '"/><br/>';
	contenido += '<span id="urls_producto">Buscando links retailers...</span><br/>';
	contenido += '<span class="button" onClick="salvar_promocion(' + params.id + ');">salvar promoción</span><br/><br/>';
	contenido += '<span class="button" onClick="revert_flip();">volver</span>';

	jQuery('#div_tabla_prods').flip({
		direction: 'lr',
		content: contenido,
		speed: 150,
		color: '#eee'
	});

	flip = true;
	mostrar_urls_producto(params.id);
}

function mostrar_urls_producto(id) {
	jQuery.ajax({
		url: "http://api." + global_hostname + "/products/" + id,
		data: { show_urls: 1, country: country_id },
		dataType: 'jsonp',
		cache: false,
		statusCode: {
			200: function(data) {
				jQuery("#urls_producto").html('No hay retailers.');
				contenido = '';
				jQuery.each(data, function(i, v) {
					if (v.price) {
						contenido += '<a href="' + v.url + '" target="_blank">';
					}
					contenido += v.retailer;
					if (v.price) {
						contenido += ' $' + v.price;
					}
					contenido += '</a><br/>'
				})
				jQuery("#urls_producto").html(contenido);
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function revert_flip() {
	flip = false;
	jQuery('#div_tabla_prods').revertFlip();
}

function buscar_ultimo_precio_registrado(id) {
	jQuery.ajax({
		url: "http://api." + global_hostname + "/prices/search",
		data: 'item=' + id + '&count=1',
		dataType: 'jsonp',
		cache: false,
		statusCode: {
			200: function(data) {
				if (data.length != 0) {
					jQuery('#ultimo_precio_registrado').html('<b>$ ' + data[0].price + '</b> (' + data[0].price_date.split('-').reverse().join('/') + ')');
				}
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function crear_producto() {
	var contenido = '<br/>';

	contenido += '<h3>Ingresar valores faltantes:</h3>';
	contenido += '<table width="80%" border="0">';
	jQuery('.item_pvalues').each(function (i) {
		if (!jQuery(this).val()) {
			if (result = /p_(\d+)/.exec(this.id)) {
				jQuery.each(properties, function(i,v) {
					if (result[1] == v.id) {
						contenido += '<tr align="left">';
						contenido += '<td>' + i + '</td>';
						contenido += '<td><input class="new_pv" type="text" id="new_p_' + v.id + '"/></td>';
						contenido += '</tr>';
						return false;
					}
				})
			}
		}
	});

	contenido += '</table><br/>';
	contenido += '<span class="button" onClick="revert_flip();">volver</span><br/><br/>';
	contenido += '<span class="button" onClick="go_crear_producto();">crear producto</span><br/>';

	jQuery('#div_tabla_prods').flip({
		direction: 'rl',
		content: contenido,
		speed: 150,
		color: '#eee'
	});

	flip = true;
}

function go_crear_producto() {
	var pvs = new Array;
	var faltan_campos = 0;
	jQuery('.item_pvalues').each(function (i) {
		if (jQuery(this).val()) {
			pvs.push(jQuery(this).val());
		}
	});
	jQuery('.new_pv').each(function (i) {
		if (jQuery(this).val()) {
			if (result = /new_p_(\d+)/.exec(this.id)) {
				pvs.push(jQuery(this).val() + '|' + result[1]);
			}
		} else {		
			faltan_campos = 1;
		}
	});

	if (faltan_campos || !validar_datos_promocion()) {
		alert('Por favor completar todos los campos.');
		return false; 
	}

	if (confirm('Crear?')) {
		jQuery.ajax({
			url: 'http://api.' + global_hostname + '/products/create_productizador',
			data: { property_values: pvs.join(','), product_type: <%=@product_type_id%>, retailer: jQuery('#retailer').val() },
			dataType: 'jsonp',
			cache: false,
			statusCode: {
				200: function(data) {
					salvar_promocion(data.id);
				},
				400: function() {
					alert('Error 400!');
				}
			}
		});

	}
}

function salvar_promocion(producto) {
	if (!validar_datos_promocion()) {
		return false;
	}

	var data = {
		<% if defined?@sale %>
		id: <%= @sale.id %>,
		<% end %>
		sale_date: jQuery('#fecha').val(),
		price: jQuery('#precio').val(),
		origin: jQuery('#origen').val(),
		units_available: jQuery('#unidades_disponibles').val(),
		valid_since: jQuery('#valida_desde').val(),
		valid_until: jQuery('#valida_hasta').val(),
		bundle: jQuery('#bundle_si:checked').length,
		media_channel: jQuery('#media_channel').val(),
		retailer: jQuery('#retailer').val(),
		product: producto,
		page: jQuery('#pagina').val(),
		currency: currency_id,
		aws_filename: filename
	};

	if (imagen_id != 0) {
		data.imagen_id = imagen_id;
	}

	jQuery.ajax({
		<% if defined?@sale %>
		url: 'http://api.' + global_hostname + '/sales/update_cargapromos',
		<% else %>
		url: 'http://api.' + global_hostname + '/sales/create_cargapromos',
		<% end %>
		data: data,
		dataType: 'jsonp',
		cache: false,
		statusCode: {
			200: function() {
				revert_flip();
				jQuery('.chzn-select.item_pvalues').each(function() {
					jQuery(this).val('').trigger('liszt:updated');
				});
				jQuery('.fila_prod').remove();
				jQuery('#precio').val('');
				jQuery('#origen').val('');
				jQuery('#unidades_disponibles').val('');
				jQuery('#bundle_no').attr('checked', 'checked');
				jQuery('#valida_desde').val('');
				jQuery('#valida_hasta').val('');
				alert('Promoción salvada.');
				<% if defined?@sale %>
				window.close();
				<% end %>
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function validar_datos_promocion() {
	<% unless defined?@sale %>
	if (filename == '') {
		alert('Falta cargar imagen');
		return false;
	}
	<% end %>

	var fields = new Array(
		'media_channel', 'pagina', 'fecha', 'retailer', 'precio'
	);

	var todo_ok = true;
	for (var i = 0; i < fields.length; i++) {
		if (!jQuery('#' + fields[i]).val()) {
			todo_ok = false;
		}
	}

	if (!todo_ok) {
		alert('Falta cargar campos de la promoción');
		return false;
	} else {
		return true;
	}
}

var imagen_id = 0;
jQuery(window).load(function() {
	jQuery(".chzn-select").chosen({no_results_text: 'Sin resultados para', allow_single_deselect: true});
    jQuery('.chzn-single').focus(function(e){
        e.preventDefault();
    });
	jQuery('div.chzn-container ul').attr("tabindex",-1);

	init_properties();

	jQuery("#fecha").datepicker();

	var dates = jQuery( "#valida_desde, #valida_hasta" ).datepicker({
		defaultDate: "+1w",
		changeMonth: true,
		changeYear: true,
		onSelect: function( selectedDate ) {
			var option = this.id == "valida_desde" ? "minDate" : "maxDate",
				instance = jQuery( this ).data( "datepicker" ),
				date = jQuery.datepicker.parseDate(
					instance.settings.dateFormat ||
					jQuery.datepicker._defaults.dateFormat,
					selectedDate, instance.settings );
			dates.not( this ).datepicker( "option", option, date );
		}
	});

	<% if defined?@sale %>
		jQuery("#fecha").datepicker("setDate", "<%=@sale.sale_date.strftime('%d/%m/%Y')%>");
		<% unless @sale.valid_since.nil? %>
			jQuery("#valida_desde").datepicker("setDate", "<%=@sale.valid_since.strftime('%d/%m/%Y')%>");
		<% end %>
		<% unless @sale.valid_until.nil? %>
			jQuery("#valida_hasta").datepicker("setDate", "<%=@sale.valid_until.strftime('%d/%m/%Y')%>");
		<% end %>
		<% if @sale.imagen_id %>
			imagen_id = <%= @sale.imagen_id %>;
		<% end %>
		<% if @sale.aws_filename %>
			filename = '<%= @sale.aws_filename %>';
		<% end %>
	<% end %>
});

var uploadingStartHandler = function() {
	jQuery('#upload_button').attr('disabled', 'disabled').attr('value', 'Subiendo...');
};

var filename = '';

var uploadCompleteHandler = function(upload_options,event){
	jQuery('#image_uploaded').attr('src', 'https://s3.amazonaws.com/<%=@bucket%>/' + upload_options.FileName);
	filename = upload_options.FileName;
	imagen_id = 0;
};

var uploadingFinishHandler = function() {
	jQuery('#upload_button').css('display', 'none');
};

var fileAddHandler = function(file) {
	jQuery('#upload_button').attr('value', 'Subir archivo "' + file.name + '"').css('display', '').removeAttr('disabled');
};

</script>
<% end %>
<br/>

<!-- CONTAINER -->
<div class="container_4">

<!-- COLUMNA UNO -->
<div class="grid_1">
<%=raw s3_swf_upload_tag(
	:onFileAdd => 'fileAddHandler(file);',
	:fileTypes => '*.jpg;*.gif;*.png;',
	:fileTypeDescs => 'Image files.',
	:onUploadingStart => "uploadingStartHandler();",
	:onUploadingFinish => "uploadingFinishHandler();",
	:onUploadComplete => "uploadCompleteHandler(upload_options,event);",
	:onSignatureIOError => "alert('Signature IO error');",
	:onSignatureXMLError => "alert('Signature XML error');",
	:onSignatureSecurityError => "alert('Signature security error');",
	:onUploadError => "alert('Upload error');",
	:onUploadIOError => "alert('Upload IO error');",
	:onUploadSecurityError => "alert('Upload security error');",
	:selectMultipleFiles => false,
	:queueSizeLimit => 1,
	:fileSizeLimit => 4194304
) %>
<br/>
<input style="display: none;" id="upload_button" type="button" value="Subir Archivo" onclick="s3_swf_16_object.startUploading();"/>
<% if defined?@sale %>
	<% if @sale.aws_filename.nil? %>
		<% if @product_type_id.to_i == 1 %>
			<% if @country_id.to_i == 1 %>
				<img id="image_uploaded" src="http://computadoras.idashboard.com.ar/uploaded_images/promocion-<%=@sale.imagen_id%>.png">
			<% elsif @country_id.to_i == 2 %>
				<img id="image_uploaded" src="http://chile.computadoras.idashboard.com.ar/uploaded_images/promocion-<%=@sale.imagen_id%>.png">
			<% end %>
		<% elsif @product_type_id.to_i == 2 %>
				<img id="image_uploaded" src="http://televisores.idashboard.com.ar/uploaded_images/promocion-<%=@sale.imagen_id%>.png">
		<% end %>
	<% else %>
		<img id="image_uploaded" src="https://s3.amazonaws.com/<%=@bucket%>/<%=@sale.aws_filename%>"/>
	<% end %>
<% else %>
	<img id="image_uploaded"/>
<% end %>
</div>
<!-- FIN COLUMNA UNO -->

<!-- COLUMNA DOS -->
<div class="grid_1">
	<h3>Detalles de la promoción</h3>
	<table border="1" width="100%">
		<tr align="left">
			<td>Fuente</td>
			<td>
				<select data-placeholder="elegir..." style="font-size: 10px; width: 150px;" class="chzn-select" name="media_channel" id="media_channel">
					<option></option>
					<% MediaChannel.joins('left join retailers on retailers.id = media_channels.retailer_id').where('media_channels.country_id = ? OR retailers.country_id = ?', @country_id, @country_id).order(:name).each do |mc| %>
						<option value="<%=mc.id%>"<%= defined?@sale and @sale.media_channel_id == mc.id ? ' selected' : '' %>><%=raw mc.name%></option>
					<% end %>
				</select>
			</td>
		</tr>
		<tr align="left">
			<td>P&aacute;gina</td>
			<td><input type="text" size="2" name="pagina" id="pagina"<%=raw (defined?@sale) ? " value=\"#{@sale.page.to_s}\"" : '' %>/></td>
		</tr>
		<tr align="left">
			<td>Fecha</td>
			<td><input type="text" size="9" id="fecha" name="fecha"/></td>
		</tr>
		<tr align="left">
			<td>Retailer</td>
			<td>
				<select data-placeholder="elegir..." style="font-size: 10px; width: 150px;" class="chzn-select" name="retailer" id="retailer">
					<option></option>
					<% Retailer.where(:country_id => @country_id).order(:name).each do |r| %>
						<option value="<%=r.id%>"<%= defined?@sale and @sale.retailer_id == r.id ? ' selected' : '' %>><%=raw r.name%></option>
					<% end %>
				</select>
			</td>
		</tr>
		<tr align="left">
			<td>Precio</td>
			<td><input type="text" size="5" name="precio" id="precio"<%=raw (defined?@sale) ? " value=\"#{@sale.price.to_s}\"" : '' %>/></td>
		</tr>
		<tr align="left">
			<td>Origen</td>
			<td><input type="text" size="12" name="origen" id="origen"<%=raw (defined?@sale) ? " value=\"#{@sale.origin}\"" : ''%>/></td>
		</tr>
		<tr align="left">
			<td>Unidades disponibles</td>
			<td><input type="text" size="5" name="unidades_disponibles" id="unidades_disponibles"<%=raw (defined?@sale) ? " value=\"#{@sale.units_available.to_s}\"" : ''%>/></td>
		</tr>
		<tr align="left">
			<td>Bundle?</td>
			<td>
				<input type="radio" value="1" name="bundle" id="bundle_si"<%= defined?@sale and @sale.bundle ? ' checked' : ''%>/>
				<label for="bundle_si">S&iacute;</label>&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" value="0" name="bundle" id="bundle_no"<% unless defined?@sale and @sale.bundle %> checked<% end%>/>
				<label for="bundle_no">No</label>
			</td>
		</tr>
		<tr align="left">
			<td>V&aacute;lida desde</td>
			<td><input type="text" name="valida_desde" id="valida_desde" size="9"/></td>
		</tr>
		<tr align="left">
			<td>V&aacute;lida hasta</td>
			<td><input type="text" name="valida_hasta" id="valida_hasta" size="9"/></td>
		</tr>
	</table>
</div>
<!-- FIN COLUMNA DOS -->

<!-- COLUMNA TRES -->
<div class="grid_1" id="div_tabla_pvs">
	<h3>Propiedades del producto</h3>
	<table border="1" width="100%" id="tabla_pvs">
<% 
	if defined?@orden_pvs
		pvs = Array.new
		@orden_pvs.each do |pv|
			pvs.push(Property.where(:product_type_id => @product_type_id, :description => pv).first)
		end
	else
		pvs = Property.where(:product_type_id => @product_type_id).order('name').all
 	end 
 %>

<% pvs.each do |p| %>
		<tr align="left">
			<td><%=p.description%></td>
			<td>
				<select data-placeholder="elegir..." id="p_<%=p.id%>" style="font-size: 10px; width: 150px;" class="chzn-select item_pvalues" onChange="buscar_productos();">
					<option></option>
	<% p.property_values.order('value').all.each do |pv| %>
					<option value="<%=pv.id%>"<%= defined?@sale and @sale.product.get_property_value(p.name) == pv.value ? ' selected' : '' %>><%=pv.value%></option>
	<% end %>
				</select>
			</td>
		<tr align="left">
<% end %>
	</table>
</div>
<!-- FIN COLUMNA TRES -->
	
<!-- COLUMNA CUATRO -->
<div class="grid_1" id="div_tabla_prods" style="background-color: #eee; height: 475px;">
	<h3>Posibles productos</h3>
	<table border="1" width="100%" id="tabla_prods" cellpadding="3">
		<tr class="fila_prod">
			<td>--</td>
		</tr>
	</table>
</div>
<!-- FIN COLUMNA CUATRO -->

</div>
<!-- FIN CONTAINER -->