<% content_for :titulo_pagina do %>Publicaciones<% end %>
<% content_for :javascript do %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.7.min.js" %>
<script type="text/javascript">jQuery.noConflict();</script>
<%= include_javascripts :publicaciones %>
<script type="text/javascript">
function agregar_tooltips() {
	jQuery('div[id^="tooltipsy"]').remove()
	jQuery('li.search-choice > span').each(function(i) {
		jQuery(this).tooltipsy({
			content: jQuery(this).parent().parent().parent().siblings().first().attr('title'),
			alignTo: 'cursor',
			offset: [10, 10]
		});
	});
}

var spinner = '<%= image_tag "ajax-bar-loader.gif", :size => "200x30" %>';
var country_id = <%=@country_id%>;
var product_type_id = <%=@product_type_id%>;
var pulldowns_ok = [
	{ 
		name: "Marca",
		campo: "marca"
	},
	{
		name: "Marca proc.",
		campo: "marca_procesador"
	},
	{ 
		name: "Familia proc.",
		campo: "familia_procesador"
	},
	{ 
		name: "Categoria",
		campo: "categoria"
	},
	{
		name: "OS",
		campo: "os"
	}
];

var globaldataXid;
var globalSubmitData;

function get_promos() {

	var offset = 0;
	var count = 16;

	if (arguments[0]) {
		offset = (arguments[0]-1) * count;
	}

	jQuery('#boton_submit').attr('value', 'Espere...');
	jQuery('#boton_submit').attr('disabled', true);
	
	jQuery('#boton_excel').hide();
	jQuery('#boton_excel_gris').show();
	jQuery('#boton_word').hide();
	jQuery('#boton_word_gris').show();

	var data = {
		'offset': offset,
		'count': count
	};
	
	if (jQuery('#producto_pulldown').val() != null) {
		data.product = jQuery('#producto_pulldown').val().join(',');
	} else {
		data.product = global_ids_productos.join(',');
	}

	if (jQuery('#retailer_pulldown').val() != null) {
		data.retailer = jQuery('#retailer_pulldown').val().join(',');	
	}

	if (jQuery('#mediachannel_pulldown').val() != null) {
		data.media_channel = jQuery('#mediachannel_pulldown').val().join(',');
	}

	if (jQuery('#fecha_desde').val() != null) {
		data.date_from = jQuery('#fecha_desde').val();
	}
	
	if (jQuery('#fecha_hasta').val() != null) {
		data.date_to = jQuery('#fecha_hasta').val();
	}

	data.currency = <%= @currency_id %>;

	globalSubmitData = data;

	jQuery.ajax({
		url: "http://api.<%=@hostname%>/sales/search",
		data: data,
		dataType: 'jsonp',
		cache: false,
		statusCode: {
			200: function(data) {
				jQuery('#boton_submit').attr('value', 'Ver publicaciones');
				jQuery('#boton_submit').removeAttr('disabled');
				llenar_tabla_promos(data);
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});
}

function llenar_tabla_promos(data) {
	globaldataXid = {};
	jQuery('.celdapromo').remove();
	jQuery('.celda_paginador').remove();

	jQuery.each(data, function(i, v) {
		globaldataXid[v.id] = v;
		var celda = '<div style="width: 200px; height: 200px; float: left; text-align: center;" class="celdapromo">';

		if (!v.aws_filename) {
	<% if @country_id.to_i == 1 %>
			celda += '<img class="imagen_promo" src="http://computadoras.idashboard.com.ar/uploaded_images/promocion-' + v.imagen_id + '_thumb.png" onClick="mostrar_promo(' + v.id + ');"><br/>';
	<% elsif @country_id.to_i == 2 %>
			celda += '<img class="imagen_promo" src="http://chile.computadoras.idashboard.com.ar/uploaded_images/promocion-' + v.imagen_id + '_thumb.png" onClick="mostrar_promo(' + v.id + ');"><br/>';
	<% end %>
		} else {
			celda += '<img height="200" width="200" class="imagen_promo" src="https://s3.amazonaws.com/<%=@bucket%>/' + v.aws_filename + '" onClick="mostrar_promo(' + v.id + ');"><br/>';
		}
		
		celda += '<br/>';
		
		var aFecha = v.sale_date.split('-');

		celda += aFecha[2] + '/' + aFecha[1] + '/' + aFecha[0] + '<br/>';
		celda += v.retailer + '<br/>';
		
		celda += '<b><a href="/products/pagina_producto/' + v.id_product + '">' + v.descripcion + '</a></b><br/>';
		
		celda += v.media_channel + ' - $' + v.price;
		celda += '<br/>';

		celda += '</div>';
		jQuery('#contenido').append(celda);
	});

	var data = globalSubmitData;
	data.getcount = 1;

	jQuery.ajax({
		url: "http://api.<%=@hostname%>/sales/search",
		data: data,
		dataType: 'jsonp',
		cache: false,
		statusCode: {
			200: function(data) {
				if (data.paginas > 1) {
					agregar_paginador(data.paginas);
				}
			},
			400: function() {
				alert('Error 400!');
			}
		}
	});

	return false;
}

function agregar_paginador(totalpaginas) {
	var paginador = '<div style="clear: both; width: 800px; height: 50px; text-align: center;" class="celda_paginador">'
	
	var pagina = (globalSubmitData.offset + globalSubmitData.count) / globalSubmitData.count;

	if (pagina != 1) {
		paginador += '<a href="#" onClick="return get_promos(' + (pagina-1) + ');">&lt;&lt;Anterior</a>';
	}

	for (var p = 1; p <= totalpaginas; p++) {
		paginador += ' ';
		if (p == pagina) {
			paginador += p;
		} else {
			paginador += '<a href="#" onClick="return get_promos(' + p + ');">' + p + '</a>'
		}
		paginador += ' ';
	}

	if (pagina != totalpaginas) {
		paginador += '<a href="#" onClick="return get_promos(' + (pagina+1) + ');">&gt;&gt;Siguiente</a>';	
	}
		
	paginador += '</div>';
	jQuery('#contenido').append(paginador);	
}

function set_max_min_date() {
	return false;
}

function mostrar_promo(id) {
	var pr = globaldataXid[id];

	var promos_html = new String;
	promos_html += '<table align="center" style="font-size: 14px;" width="100%">';

	promos_html += '<tr>';
	promos_html += '<td>';
	promos_html += '<table align="center">';

	promos_html += '<td align="right"><b>Fuente:</b></td>';
	promos_html += '<td>' + pr.media_channel + '</td>';
	promos_html += '</tr>';

	promos_html += '<tr>';
	promos_html += '<td align="right"><b>Retailer:</b></td>';
	promos_html += '<td>' + pr.retailer + '</td>';
	promos_html += '</tr>';

	promos_html += '<tr>';
	promos_html += '<td align="right"><b>Producto:</b></td>';
	promos_html += '<td>' + pr.descripcion + '</td>';
	promos_html += '</tr>';

	promos_html += '<tr>';
	promos_html += '<td align="right"><b>Precio:</b></td>';
	promos_html += '<td>$' + Highcharts.numberFormat(pr.price, 0, ',', '.') + '</td>';
	promos_html += '</tr>';

	promos_html += '<tr>';
	promos_html += '<td align="right"><b>Validez:</b></td>';
	promos_html += '<td>';

	var fecha_desde;
	if (pr.valid_since) {
		fecha_desde = pr.valid_since.split('-');
	} else {
		fecha_desde = pr.sale_date.split('-');
	}
	var fecha_desde_utc = Date.UTC(fecha_desde[0], fecha_desde[1]-1, fecha_desde[2]);

	if (pr.valid_until) {
		var fecha_hasta = pr.valid_until.split('-');
		var fecha_hasta_utc = Date.UTC(fecha_hasta[0], fecha_hasta[1]-1, fecha_hasta[2]);
		promos_html += 'Del ' + Highcharts.dateFormat('%e/%m/%Y', fecha_desde_utc) + ' al ' + Highcharts.dateFormat('%e/%m/%Y', fecha_hasta_utc);
	} else {
		promos_html += Highcharts.dateFormat('%e/%m/%Y', fecha_desde_utc);
	}
	promos_html += '</td>';
	promos_html += '</tr>';

	promos_html += '<tr>';
	promos_html += '<td align="right"><b>Bundle:</b></td>';
	promos_html += '<td>';
	promos_html += ( pr.bundle ? 'S&iacute;' : 'No' );
	promos_html += '</td>';
	promos_html += '</tr>';

	promos_html += '</table>';
	promos_html += '</td>';

	promos_html += '<td align="center">';

	if (pr.currency_id == 1) {
		if (pr.aws_filename) {
			promos_html += '<a href="https://s3.amazonaws.com/<%=@bucket%>/' + pr.aws_filename + '" target="verPromo">';
			promos_html += '<img height="500" width="500" class="img_promo" src="https://s3.amazonaws.com/<%=@bucket%>/' + pr.aws_filename + '" border="0"/>';
		} else {
			promos_html += '<a href="http://computadoras.idashboard.com.ar/uploaded_images/promocion-' + pr.imagen_id + '.png" target="verPromo">';
			promos_html += '<img height="500" width="500" class="img_promo" src="http://computadoras.idashboard.com.ar/uploaded_images/promocion-' + pr.imagen_id + '_med.png" border="0"/>';
		}
	} else {
		promos_html += '<a href="http://chile.computadoras.idashboard.com.ar/uploaded_images/promocion-' + pr.imagen_id + '.png" target="verPromo">';
		promos_html += '<img height="500" width="500" class="img_promo" src="http://chile.computadoras.idashboard.com.ar/uploaded_images/promocion-' + pr.imagen_id + '_med.png" border="0"/>';
	}
			
	promos_html += '</a>';
	promos_html += '</td>';

	promos_html += '</tr>';


	promos_html += '</table>';

	Modalbox.show(
		promos_html,
		{
			title: 'Ver promoci&oacute;n',
			width: 800,
			height: 600
		}
	);
}

jQuery(window).load(function() {
	jQuery(".chzn-select").chosen();
	selected_product = <%=@id_producto%>;
	dibujar_pulldown_productos('start_up');
	jQuery("#fecha_desde").datepicker();
	jQuery("#fecha_hasta").datepicker();
});
</script>
<%= include_javascripts :jquery_ui %>
<% end %>
<style type="text/css">
.pulldown_selector {
	font-size: 12px;
	width: 200px;
}

.fecha_selector {
	font-size: 12px;
	width: 70px;
}

.fecha_button {
	font-size: 12px;
	width: 90px;
}

.go_button {
	font-size: 14px;
	font-weight: bold;
	width: 175px;
}

.titulo_pulldown {
	position: relative;
	left: -3px;
	width: 120px;
}

.imagen_promo {
	max-width: 100px;
	max-height: 100px;
	cursor: pointer;
}

.celda_promo {
	font-face: Verdana;
	font-size: 10px;
	height: 160px;
	width: 150px;
}

.celda_paginador {
	font-face: Verdana;
	font-size: 12px;
}

</style>

<div style="height: 280px;">

<form id="filtros" method="post" action="/dashboard/ajax_get_promociones" target="_blank">

<div style="position: absolute;" id="div_filtros">

<!-- PRIMERA FILA -->

<div style="position: absolute; top: 0px;">
<span id="span_marca_pulldown"><%= image_tag "ajax-bar-loader.gif", :size => "200x30" %></span>
</div>

<div style="position: absolute; top: 0px; left: 200px;">
<span id="span_marca_procesador_pulldown"><%= image_tag "ajax-bar-loader.gif", :size => "200x30" %></span>
</div>

<div style="position: absolute; top: 0px; left: 400px;">
<span id="span_familia_procesador_pulldown"><%= image_tag "ajax-bar-loader.gif", :size => "200x30" %></span>
</div>

<div style="position: absolute; top: 0px; left: 600px;">
<span id="span_producto_pulldown"><%= image_tag "ajax-bar-loader.gif", :size => "200x30" %></span>
</div>

<!-- FIN PRIMERA FILA -->

<!-- SEGUNDA FILA -->

<div style="position: absolute; top: 100px; left: 0px;">
<span>
<select name="mediachannel" id="mediachannel_pulldown" class="pulldown_selector chzn-select" size="4" multiple title="Medio" data-placeholder="Medio">
<option></option>
<% MediaChannel.where(:country_id => @country_id).each do |m| %>
<option value="<%=m.id%>"><%=m.name%></option>
<% end %>
</select>
</span>
</div>

<div style="position: absolute; top: 100px; left: 200px;">
<span>
<select name="retailer" id="retailer_pulldown" class="pulldown_selector chzn-select" size="4" multiple title="Retailer" data-placeholder="Retailer">
<option></option>
<% Retailer.where(:country_id => @country_id).each do |r| %>
<option value="<%=r.id%>"><%=r.name%></option>
<% end %>
</select>
</span>
</div>

<div style="position: absolute; top: 100px; left: 400px;">
<span id="span_categoria_pulldown"><%= image_tag "ajax-bar-loader.gif", :size => "200x30" %></span>
</div>

<div style="position: absolute; top: 100px; left: 600px;">
<span id="span_os_pulldown"><%= image_tag "ajax-bar-loader.gif", :size => "200x30" %></span>
</div>

<!-- FIN SEGUNDA FILA -->

<div style="position: absolute; top: 190px; left: 270px;" class="date_div">
Desde:
<input type="text" class="date_input" readonly name="fecha_desde" id="fecha_desde" size="8" value="<%=(Date.today - 1.month).strftime('%d/%m/%Y')%>"/> 
</div>

<div style="position: absolute; top: 190px; left: 390px;" class="date_div">
Hasta:
<input type="text" class="date_input" readonly name="fecha_hasta" id="fecha_hasta" size="8" value="<%=Date.today.strftime('%d/%m/%Y')%>"/>
</div>

<div style="position: absolute; top: 195px; left: 520px; width: 120px;">
<input type="checkbox" value="1" name="bundle" id="bundle"/><label for="bundle">&iquest;Bundle?</label>
</div>

<div style="position: absolute; top: 230px; left: 290px;">
<input type="button" class="go_button" value="Ver publicaciones" id="boton_submit" onClick="get_promos();">
</div>

<img id="boton_excel" src="/images/icono_excel.png" style="position: absolute; top: 190px; left: 610px; display: none; cursor: pointer;" onClick="return get_promos_excel();"/>
<img id="boton_word" src="/images/icono_word.png" style="position: absolute; top: 190px; left: 670px; display: none; cursor: pointer;" onClick="return get_promos_html();"/>

<img id="boton_excel_gris" src="/images/icono_excel_gris.png" style="position: absolute; top: 190px; left: 610px;"/>
<img id="boton_word_gris" src="/images/icono_word_gris.png" style="position: absolute; top: 190px; left: 670px;"/>

</div>

<input type="hidden" name="r" id="r">
<input type="hidden" name="excel" id="excel">
<input type="hidden" name="html" id="html">
<input type="hidden" name="pagina" id="pagina">
</form>

</div>