<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>iDashboard - <%= yield :titulo_pagina %></title>
<meta name="description" content="Medir y entender sus mercados. Conocer y comprender a su competencia. Crecer sostenida y estratgicamente.">
<meta name="keywords" content="medir,entender,conocer,comprender,crecer,mercado,competencia">

<%= stylesheet_link_tag "estilos", "modalbox", "prototip", "lightbox", "chosen", "jquery-ui-1.8.14.custom","jquery-datepicker.css" %>
<%= yield :stylesheet %>

<script type="text/javascript">
var global_hostname = '<%=@hostname%>';
</script>

<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js", "https://ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js?load=effects,builder,dragdrop", "prototip", "lightbox", "modalbox", "idashboard", "rails" %>

<%= yield :javascript %>

<% if defined?@google_analytics_key %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= @google_analytics_key %>']);
  _gaq.push(['_trackPageview']);
  
  _gaq.push(['_setCustomVar',
	1,
	'Usuario',
	'<%= userid %>',
	1
  ]);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>

<%= csrf_meta_tag %>
<%= favicon_link_tag %>
</head>
<body>

<!-- BARRA DE MENU -->
<div id="barra_menu">
	<div class="contenido_barra_menu">
        <a href="http://www.idashboard.la"><h1>iDashboard</h1></a>
        <ul class="items">
            <li><%= link_to "Computadoras", "", :id => "link_computadoras", :onClick => "return false;" %></li>
            <li><%= link_to "Televisores", "", :id => "link_televisores", :onClick => "return false;" %></li>
            <li><%= link_to "Celulares", "", :id => "link_celulares", :onClick => "return false;" %></li>
        </ul>
        <ul class="paises">
        	<% 
        	image_argentina = "argentina_gris.png"
        	image_chile = "chile.png"

        	if @country_id.to_i == 1
        		image_argentina = "argentina.png"
        		image_chile = "chile_gris.png"
    		end
    		%>
    		<li><%= link_to image_tag(image_argentina, :title => "Argentina", :border => 0), url_for(:country_id => 1), :id => 'link_argentina' %></li>
            <li><%= link_to image_tag(image_chile, :title => "Chile", :border => 0), url_for(:country_id => 2), :id => 'link_chile' %></li>
        </ul>
    </div>
</div>

<br/><br/>

<div id="wrapper">
	<div id="contenedor">
		<!--Cuerpo=Menu + Contenido-->
		<div id="cuerpo">
			<div class="esteticaIzq">
				<div class="techo">
					<div class="esteticaSup">
						<div class="esteticaSupIzq"></div>
						<div class="esteticaSupDer"></div>
					</div>
				</div>
				<!--Menu-->
				<div id="menu"> <a name="menu"></a>
					<h3>Men&uacute;</h3>
					<ul>
						
						<li class="menuDReport">
						<% if defined?@pagina and @pagina == 'Reportes' %>
						<div class="esteticaMenu">
						<div class="esteticaMenuSup">
						<div class="esteticaMenuSupIzq"></div>
						</div>
						<% end %>
						<%= link_to "MIS REPORTES", saved_reports_show_all_path %>
						<% if defined?@pagina and @pagina == 'Reportes' %>
						<div class="esteticaMenuInf">
						<div class="esteticaMenuInfIzq"></div>
						</div>
						</div>
						<% end %>
						</li>
						
						<li class="menuPrices">
						<% if defined?@pagina and @pagina == 'Precios' %>
						<div class="esteticaMenu">
						<div class="esteticaMenuSup">
						<div class="esteticaMenuSupIzq"></div>
						</div>
						<% end %>
						<%= link_to "PRECIOS", products_prices_path %>
						<% if defined?@pagina and @pagina == 'Precios' %>
						<div class="esteticaMenuInf">
						<div class="esteticaMenuInfIzq"></div>
						</div>
						</div>
						<% end %>
						</li>

						<li class="menuPrices">
						<% if defined?@pagina and @pagina == 'Categorias' %>
						<div class="esteticaMenu">
						<div class="esteticaMenuSup">
						<div class="esteticaMenuSupIzq"></div>
						</div>
						<% end %>
						<%= link_to 'CATEGORÍAS', pagina_categorias_path %>
						<% if defined?@pagina and @pagina == 'Categorias' %>
						<div class="esteticaMenuInf">
						<div class="esteticaMenuInfIzq"></div>
						</div>
						</div>
						<% end %>
						</li>
						
						<li class="menuProduct">
						<% if defined?@pagina and @pagina == 'Vendors' %>
						<div class="esteticaMenu">
						<div class="esteticaMenuSup">
						<div class="esteticaMenuSupIzq"></div>
						</div>
						<% end %>
						<%= link_to 'VENDORS', pagina_vendors_path %>
						<% if defined?@pagina and @pagina == 'Vendors' %>
						<div class="esteticaMenuInf">
						<div class="esteticaMenuInfIzq"></div>
						</div>
						</div>
						<% end %>
						</li>

						<li class="menuProduct">
						<% if defined?@pagina and @pagina == 'Retailers' %>
						<div class="esteticaMenu">
						<div class="esteticaMenuSup">
						<div class="esteticaMenuSupIzq"></div>
						</div>
						<% end %>
						<%= link_to 'RETAILERS', pagina_retailers_path %>
						<% if defined?@pagina and @pagina == 'Retailers' %>
						<div class="esteticaMenuInf">
						<div class="esteticaMenuInfIzq"></div>
						</div>
						</div>
						<% end %>
						</li>
						
						<li class="menuProduct">
						<% if defined?@pagina and @pagina == 'Productos' %>
						<div class="esteticaMenu">
						<div class="esteticaMenuSup">
						<div class="esteticaMenuSupIzq"></div>
						</div>
						<% end %>
						<%= link_to "PRODUCTOS", pagina_producto_path %>
						<% if defined?@pagina and @pagina == 'Productos' %>
						<div class="esteticaMenuInf">
						<div class="esteticaMenuInfIzq"></div>
						</div>
						</div>
						<% end %>
						</li>
						
						<li class="menuProduct">
						<% if defined?@pagina and @pagina == 'Publicaciones' %>
						<div class="esteticaMenu">
						<div class="esteticaMenuSup">
						<div class="esteticaMenuSupIzq"></div>
						</div>
						<% end %>
						<%= link_to "PUBLICACIONES", sales_ver_path %>
						<% if defined?@pagina and @pagina == 'Publicaciones' %>
						<div class="esteticaMenuInf">
						<div class="esteticaMenuInfIzq"></div>
						</div>
						</div>
						<% end %>
						</li>						
						
						<!--
						<li class="menuAlert">
						<% if defined?@pagina and @pagina == 'Alertas' %>
						<div class="esteticaMenu">
						<div class="esteticaMenuSup">
						<div class="esteticaMenuSupIzq"></div>
						</div>
						<% end %>
						<a href="/dashboard/alertas">&nbsp;ALERTAS</a>
						<% if defined?@pagina and @pagina == 'Alertas' %>
						<div class="esteticaMenuInf">
						<div class="esteticaMenuInfIzq"></div>
						</div>
						</div>
						<% end %>
						</li>
						-->
						
						<% if defined?@usuario_admin %>
						
						<li class="menuAlert">
						<% if defined?@pagina and @pagina == 'Productizador' %>
						<div class="esteticaMenu">
						<div class="esteticaMenuSup">
						<div class="esteticaMenuSupIzq"></div>
						</div>
						<% end %>
						<a href="/dashboard/productizador">&nbsp;PRODUCTIZADOR</a>
						<% if defined?@pagina and @pagina == 'Productizador' %>
						<div class="esteticaMenuInf">
						<div class="esteticaMenuInfIzq"></div>
						</div>
						</div>
						<% end %>
						</li>
						
						<li class="menuAlert">
						<% if defined?@pagina and @pagina == 'Revisar promociones' %>
						<div class="esteticaMenu">
						<div class="esteticaMenuSup">
						<div class="esteticaMenuSupIzq"></div>
						</div>
						<% end %>
						<a href="/dashboard/revisar_promociones">&nbsp;REVISAR PUBS.</a>
						<% if defined?@pagina and @pagina == 'Revisar promociones' %>
						<div class="esteticaMenuInf">
						<div class="esteticaMenuInfIzq"></div>
						</div>
						</div>
						<% end %>
						</li>
						
						<li class="menuAlert">
						<% if defined?@pagina and @pagina == 'Cargar promociones' %>
						<div class="esteticaMenu">
						<div class="esteticaMenuSup">
						<div class="esteticaMenuSupIzq"></div>
						</div>
						<% end %>
						<a href="/dashboard/cargar_promociones">&nbsp;CARGAR PUBS.</a>
						<% if defined?@pagina and @pagina == 'Cargar promociones' %>
						<div class="esteticaMenuInf">
						<div class="esteticaMenuInfIzq"></div>
						</div>
						</div>
						<% end %>
						</li>
						
						<% end %>
						
					</ul>
				</div>
				<!--Contenido-->
				<div id="contenido"><a name="contenido"></a><%= yield %></div>
			</div>
		</div>
		<div class="pie">
			<div class="esteticaInf">
				<div class="esteticaInfIzq"></div>
				<div class="esteticaInfDer"></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
